/* ------- homeSection -------- */
.todo {
    padding-top: 16.2rem;

    @include media(mob-sm) {
        padding-top: 10rem;
    }

    &__wrapper {
        position: relative;
        margin: 0 auto;
        max-width: 42rem;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: -1.7rem;
            left: 0;
            width: 94%;
            height: 6.8rem;
            border-radius: $radius;
            background: linear-gradient(180deg, $blue-dark 0%, $blue-dark-second 100%);
            transform: rotate(-2.32deg);
            transition: $duration transform;
        }

        &::before {
            left: 0.2rem;
            top: -2.8rem;
            width: 81.42%;
            height: 8.5rem;
            background: linear-gradient(180deg, $grey 0%, $black 53.65%);
            transform: rotate(-4.48deg);

            @include media(mob-sm) {
                width: 71.53%;
                transform: rotate(-5.4deg);

            }
        }

        &::after {
            @include media(mob-sm) {
                width: 82.62%;
                transform: rotate(-2.78deg);
            }
        }

        @include hover {
            &::before {
                transform: rotate(-4.48deg) translateY(-2rem);
            }
            &::after {
                transform: rotate(-2.32deg) translateY(-1rem);
            }
        }
    }
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
        gap: 1.6rem;
    }

    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 1.21;
        color: $white;
    }

    &__box {
        position: relative;
        z-index: 1;
        padding: 3rem 3rem 0;
        border-radius: $radius 0 $radius * 2;
        overflow: hidden;
        background: $primary;
        box-shadow: 0 1.4rem 3.4rem rgba($black, 0.25);
    }

    &__scroll {
        width: calc(100% + 1.2rem);
        height: 45.7rem;

        .simplebar-track.simplebar-vertical {
            bottom: 3rem;
        }

        &.simplebar-scrollable-y {
            &::before,
            &::after {
                content: "";
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                right: 1.7rem;
                height: 7.5rem;
                background: linear-gradient(to top, rgba($primary, 0) 0%, $primary 100%);
                pointer-events: none;
                transition: $duration opacity;
            }

            &::before {
                height: 5rem;
                opacity: 0;
            }

            &::after {
                top: auto;
                bottom: 0;
                background: linear-gradient(to bottom, rgba($primary, 0) 0%, $primary 67.19%);
            }
        }

        &[data-simplebar-scroll-change] {
            &::before {
                opacity: 1;
            }
        }

        &[data-simplebar-scrolled] {
            &::after {
                opacity: 0;
            }
        }
    }

    &__items {
        padding: 0 1.7rem 2.1rem 0;
    }
}
